* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1.42857143;
    color      : #000;
    background : #fff;
    position   : relative;
    overflow-x : hidden;
    overflow-y : auto;
    font-weight: 400;
}

#container {
    width : 100%;
    height: auto;
}

#container .top {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

#container .top .location,
#container .top .call {
    display    : flex;
    align-items: center;
    padding    : 10px 70px;
    font-size  : 10px;
}
#container .top .location .location-img,
#container .top .call .call-img {
    width: 20px;
}

#container .top .location .text-locate,
#container .top .call .number-call {
    margin : 0 10px;
    opacity: 50%;
}

#container header {
    /* background: rgb(255, 255, 255,  0.8); */
    border-bottom: 1px solid #00000026;
    position     : sticky;
    background   : rgba(255, 255, 255, 0.8);
    top          : 0;
    left         : 0;
    right        : 0;
    bottom       : 0;
    z-index      : 999;
    height       : 60px;
    width        : 100%;
}

#container header .wrapper {
    width        : 1200px;
    height       : auto;
    margin-right : auto;
    margin-left  : auto;
    padding-left : 15px;
    padding-right: 15px;
    display      : flex;
}

#container header .wrapper .header-logo {
    width : 20%;
    height: 60px;
}

#container header .wrapper .header-logo .home {
    text-decoration   : none;
    color             : #191919;
    -o-transition     : .5s;
    -ms-transition    : .5s;
    -moz-transition   : .5s;
    -webkit-transition: .5s;
    transition        : .5s;
}

#container header .wrapper .header-logo .home .logo {
    height: 60px;
    width : 200px;
}

#container header .wrapper .menu {
    position: relative;
    width   : 70%;
    display : flex;
}

#container header .wrapper .menu .main-menu {
    padding        : 0;
    margin         : 0;
    display        : flex;
    list-style     : none;
    justify-content: center;
    align-items    : center;
    font-weight    : bold;
}

#container header .wrapper .menu .main-menu .link-menu {
    text-decoration: none;
    color          : #000;
}

#container header .wrapper .menu .main-menu .link-menu .item-menu {
    padding: 10px 20px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.home-banner {
    height: 440px;
}

.home-banner .slideshow-container {
    width    : 100%;
    position : relative;
    margin   : auto;
    transform: translateY(-60px);
}

/* ẩn hình ảnh cho phần tử slideshow */
.home-banner .mySlides {
    display: none;
}

.fade {
    -webkit-animation-name    : fade;
    -webkit-animation-duration: 1s;
    animation-name            : fade;
    animation-duration        : 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

#container .list-home {
    width : 1200px;
    height: auto;
    margin: 50px auto;
}

#container .list-home .wrapper-list {
    width  : 100%;
    height : auto;
    display: flex;
}

#container .list-home .wrapper-list .list-product_home {
    width    : 100%;
    display  : flex;
    flex-wrap: wrap;
    padding  : 0 150px;
}

#container .list-home .wrapper-list .list-product_home .ads {
    width  : 50%;
    margin : 0 0 20px 0;
    padding: 0 10px 25px 10px;
}

#container .list-home .wrapper-list .list-product_home .list-item {
    width        : 25%;
    height       : 50%;
    border-radius: 10px;
    text-align   : center;
    margin-bottom: 20px;
}
#container .list-home .wrapper-list .list-product_home .list-item  label {
    display: block;
    display: -webkit-box;
    font-size: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

#container .blog-home {
    width : 100%;
    height: 500px;
    margin: 0 auto;
}

#container .blog-home .bg-blog {
    position           : relative;
    width              : 100%;
    height             : 100%;
    background-image   : url('../image/blog-img.png');
    background-size    : contain;
    background-repeat  : no-repeat;
    background-position: center
}

#container .blog-home .bg-blog .btn-hover {
    position: relative;
    display : block;
    width   : 62%;
    height  : 100%;
    margin  : 0 auto;
    z-index : 1000;
}

#container .blog-home .bg-blog .btn-hover .layer-hover {
    width : 100%;
    height: 100%;
}

#container .blog-home .bg-blog .btn-hover:hover .layer-hover {
    background: #FFFFE0;
    opacity   : .3;
}

#container .blog-home .bg-blog .btn-hover:hover+.btn-read {
    animation: drop 1s forwards 1;
}

#container .blog-home .bg-blog .btn-read {
    text-decoration: none;
    padding        : 10px 20px;
    border         : 5px double #807d7d;
    color          : orange;
    font-size      : 13px;
    font-weight    : bold;
    border-radius  : 5px;
    position       : absolute;
    left           : 50%;
    top            : -50%;
    transform      : translate(-50%, -50%);
    opacity        : 0;
    transition     : 0.7s;
}

@keyframes drop {
    0% {
        top: 0;
    }
    100% {
        top    : 50%;
        opacity: 1;
    }
}

#container .wrapper-footer {
    width     : 100%;
    height    : auto;
    padding   : 20px 300px;
    background: #000000D9;
}

#container .wrapper-footer .about {
    width  : 100%;
    height : 50%;
    display: flex;
}

#container .wrapper-footer .address {
    width : 100%;
    height: auto;
}

#container .wrapper-footer .about .introduce,
#container .wrapper-footer .about .rules,
#container .wrapper-footer .about .info-shop {
    width       : 30%;
    height      : 100%;
    padding     : 20px 0;
    margin-right: 20px;
    text-align  : start;
}

#container .wrapper-footer .about .introduce .list-introduce,
#container .wrapper-footer .about .rules .list-rules,
#container .wrapper-footer .about .info-shop .list-info {
    list-style: none;
}

#container .wrapper-footer .about .introduce .list-introduce h3,
#container .wrapper-footer .about .rules .list-rules h3 {
    font-size: 15px;
    color    : #fff;
}

#container .wrapper-footer .about .introduce .list-introduce .item-introduce,
#container .wrapper-footer .about .rules .list-rules .item-rules {
    margin         : 0 20px;
    color          : #fff;
    text-decoration: none;
    font-size      : 10px;
}

#container .wrapper-footer .about .info-shop .list-info .item-info {
    color          : #fff;
    text-decoration: none;
    font-size      : 12px;
}

#container .wrapper-footer .address {
    width     : 100%;
    height    : 100%;
    margin-top: 20px;
}

#container .wrapper-footer .address p {
    color    : #fff;
    font-size: 10px;
}



#container .signature {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    margin: 100px 0;
}

#container .signature .title-signature {
    width: 350px;
    height: 300px;
    margin: 200px 150px 0 0;
}
#container .signature .title-signature h1 {
    font-size: 2em;
    font-weight: bold;
}
#container .signature .title-signature a {
    padding: 10px 100px;
    background: #C8070F;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #C8070F;
}
#container .signature .title-signature a:hover {
    animation: change 1s linear forwards;
}
@keyframes change {
    0% {
        background: #C8070F;
    }
    100% {
        background: none;
        color: orange;
        border: 1px solid green;
    }
}

#container .signature .slider{
    width: 60%;
    max-width: 120vw;
    height: 700px;
    position: relative;
    overflow: hidden;
    right: 0;
    border-radius: 10px;
}
#container .signature .slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
#container .signature .slider .list img{
    width: 1200px;
    max-width: 120vw;
    height: 100%;
    object-fit: cover;
}
#container .signature .slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
#container .signature .slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
#container .signature .slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#container .signature .slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
#container .signature .slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
#container .news {
    width: 100%;
    height: 100%;
    background: #FFF7E6;
    padding: 0 300px 200px 300px;
}
#container .news .title-news {
    position: relative;
    width: 100%;
    height: 50px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container .news .wrapper-daily,
#container .news .wrapper-blog {
    width: 100%;
    height: 100%;
}
#container .news .wrapper-daily .title-daily,
#container .news .wrapper-blog .title-blog {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-left: 4px solid #E57905;
    margin-top: 30px;
}
#container .news .wrapper-daily  .content-daily,
#container .news .wrapper-blog  .content-blog {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#container .news .wrapper-daily  .content-daily .box-daily,
#container .news .wrapper-blog  .content-blog .box-blog {
    width: 30%;
    height: 100%;
    border-radius: 10px;
}
#container .news .wrapper-daily  .content-daily .box-daily .date-submitted,
#container .news .wrapper-blog  .content-blog .box-blog .date-submitted {
    margin-top: 15px;
}
#container .news .wrapper-daily  .content-daily .box-daily .title-post,
#container .news .wrapper-blog  .content-blog .box-blog .title-post {
    margin-top: 10px;
}
#container .news .wrapper-daily  .content-daily .box-daily .title-post a,
#container .news .wrapper-blog  .content-blog .box-blog .title-post a{
    text-decoration: none;
    color: #000;
}
#container .news .wrapper-daily  .content-daily .box-daily img,
#container .news .wrapper-blog  .content-blog .box-blog img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
#container .news .wrapper-daily  .content-daily .box-daily .content-post,
#container .news .wrapper-blog  .content-blog .box-blog .content-post {
    width: 100%;
    height: 100%;
}
#container .news .wrapper-daily  .content-daily .box-daily .content-post p,
#container .news .wrapper-blog  .content-blog .box-blog .content-post p {
    display: block;
    display: -webkit-box;
    font-size: 16px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:10px;
}